@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 162, 185, 222;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}


.navbar {
    width: 100%;
    height: 3.5rem;
    top: 0;
    display: flex;
    position: fixed;
    padding-left: 10rem;
    z-index: 1000;
}

.main-content{
    border-radius: 10px;
    width: 75rem;
    display: grid;
    margin: auto;
    padding: 1em 1em 1em 1em;
    margin-top: 5rem;
    gap: 12.5px;
}

.main_authorization{
    background-color: white;
    border-radius: 10px;
    width: 75rem;
    padding: 2em 1em 1em 1em;
}
.main_authorization_title{
    display: flex;
    justify-content: center;
    padding: .1em .1em .1em .1em;
}

.subcategory_container{
    display: flex;
    justify-content: start;
}

.navbar_auth{
    position: fixed;
    top: 15px;
    right: 150px;
}

.user_dropdown{
    background-color: white;
    border-radius: 10px;
    padding: .1em .5em .1em .5em;
    position: fixed;
    top: 37px;
    right: 135px;
}

.subcategory_block{
    margin-left: 10px;
}

.product_container{
    background-color: white;
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
}

.product_main{
    display: flex;
    flex-direction: row;
}
.product_naming{
    margin-left: 20px;
    width: 70%;
}


.buy_field{
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
    background-color: rgba(133, 133, 133, 0.1);
    margin-top: 12px;
    grid-area: price;
    display: flex;
    text-align: center;
    justify-content: space-between;
}


.navbarList{
    user-select: none;
    cursor: pointer;
}

.navItem{
    width: 5rem;
    align-self: center;
}


body {
    height: 100vh;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        /*text-wrap: balance;*/
    }
}
